

<div style="font-weight: bold;"><%=adminRegion%>&nbsp;&nbsp;<%=cellName%></div>
<div class="gis-tk">
<ul>
<li><span>设备类型</span><%=devType%></li>

<li><span>BSC</span><%=bscName%></li>
<li><span>LAC</span><%=lac%></li>
<li><span> BCCH</span><%=psc%></li>
<li><span>经纬度</span><%=celllat%>,<%=celllng%></li>
<li><span>机械倾角</span><%=antMathAngle%></li>
<li title="<%=antType%>"><span>天线类型</span>
<%
if(antType && antType.length > 12){
var _antType = antType.substring(0,11)+"...";
	%>
	<%=_antType%>
<%}else{%>
<%=antType%>
<%}
%></li>

<li><span>共用平台</span><%=sharedPlatform%></li>
</ul>
<ul style="float:right;">

<li title="<%=baseName%>"><span>基站名称</span>
<%if(baseName && baseName.length > 12){
	var _baseName = baseName.substring(0,12)+"...";
	%>
	<%=_baseName%>
<%}else{%>
<%=baseName%>
<%}%></li>

<li><span>覆盖范围</span><%=coverRange%></li>
<li><span>CELLID</span><%=cellId%></li>
<li><span>BSIC</span><%=bsic%></li>

<li><span>天线方向角</span>
<% 
if (sctype==0){%>
 <%=self_azimuth%>
<% } %>
<% 
if (sctype!=0){%>
 <%=ant_azimuth%>
<%}%>
</li>
<li><span>电子斜角</span><%=antElectAngle%></li>
<li><span>天线公用情况</span><%=sharedAnt%></li>
<li><span>小区频段</span><%=cellBand%></li>
</ul>
</div>